.header {
  text-align: center;
  font-family: Martel, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.2;
  background-color: #480D3F;
  color: #B9A7C8;
  padding: 5px 10px;
  margin-top: 20px;
}

.bosses {
  margin-top: 20px;
}

.card {
  background-color: #444444;
  color: #B9A7C8;
  border: none;
  margin-bottom: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  position: relative;
}

.boss-image-container {
  width: 46px;
  height: auto;
  margin-right: 20px;

}

.boss-image {
  width: 105px;
  height: auto;
}

.card-content {
  display: flex;
  justify-content: space-between;
  color: #B9A7C8;
  font-family: Martel, sans-serif;
  position: relative;
}

.card-title {
  font-family: Martel, sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.button {
  // Existing styles
  // Position buttons to bottom right
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px;
}

.check, .found {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 50%~~;
}
