<footer class="footer text-center text-light">
  <%# <section class=""> %>
    <%# <div class="container-fluid text-center"> %>
      <%# <div class="row footer-content"> %>
        <%# <h2 class=""><strong>TibiaLibrary</strong></h2> %>
        <%# <h5 class="">Where all bosshunters meet</h5> %>
      <%# </div> %>
    <%# </div> %>
  <%# </section> %>
  <%# <section class="d-flex justify-content-center p-3"> %>
    <div>
      <!-- Add URLs to your href attributes -->
      <a href="https://instagram.com" class="mx-3 text-primary"><i class="fab fa-instagram"></i></a>
      <a href="https://discord.com" class="mx-3 text-primary"><i class="fab fa-discord"></i></a>
    </div>
  <%# </section> %>
  <div class="text-center footer-content">
    <p>Copyright © 2024 TibiaLibrary. All rights reserved.</p>
  </div>
</footer>
