<footer class="footer text-center text-light">
  <section class="">
    <div class="container-fluid text-center mt-5">
      <div class="row mt-3">
        <h2 class="pt-5 mb-4"><strong>TibiaLibrary</strong></h2>
        <h5 class="mb-4">Where all bosshunters meet</h5>
      </div>
    </div>
  </section>
  <section class="d-flex justify-content-center p-3">
    <div>
      <!-- Add URLs to your href attributes -->
      <a href="https://instagram.com" class="mx-3 text-primary"><i class="fab fa-instagram"></i></a>
      <a href="https://discord.com" class="mx-3 text-primary"><i class="fab fa-discord"></i></a>
    </div>
  </section>
  <div class="text-center pb-5 pt-3">
    Copyright © 2023 TibiaLibrary. All rights reserved.
  </div>
</footer>
