/* Add this to your CSS file */
.boss-info {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: large;
}

.boss-image-container {
  width: 46px; /* Adjust the width as needed */
  height: auto; /* This will maintain the aspect ratio */
  margin-right: 0px; /* Add spacing between the image and name */
  flex: 0 0 auto; /* This prevents the image from growing or shrinking */
  margin-right: 20px; /* Adjust margin as needed */

}

.boss-image {
  width: 105px; /* This will make the image fill the container */
  height: auto; /* This will maintain the aspect ratio */
}
.card-content {
  display: flex;
  justify-content: space-between; /* This will evenly space the image and text */
  color: #B9A7C8; /* Use the lightish color */
  font-family: 'Martel', sans-serif; /* Use the Martel font */
}

/* Add this to your CSS file */

.header-bosses {
  text-align: center;
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  justify-content: center; /* Align items to the center vertically */
  align-items: center; /* Align items to the center horizontally */
  height: 70px; /* Make the container full height of the viewport */
  width: 380px; /* Set container width to match content width */
  margin: 0 auto; /* Center the container horizontally */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: 'Yomogi', "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.2;
  background-color: rgba(72, 13, 63, 0.8);
  color: #B9A7C8;
  padding: 5px 10px;
  margin-top: 20px;
}


.content {
  margin-top: 20px; /* Adjust margin to separate from header */
  /* Other styles for your card content */
}
.text-content {
  flex: 1; /* This makes the text content fill the remaining space */
  text-align: right; /* Align text to the right */
  font-family: 'Martel', sans-serif; /* Use the Martel font */
  color: #B9A7C8; /* Use the lightish color */
  text-decoration: #B9A7C8; /* Use the lightish color */
  line-height: 0.8; /* Adjust line height as needed */
}
.card-title {
  font-family: 'Martel', sans-serif; /* Use the Yomogi font */
  font-size: 1.5em; /* Adjust font size as needed */
  margin-bottom: 10px; /* Remove margin */
}

.card {
  background-color: #444444; /* Use the darkish-blue color */
  color: #B9A7C8; /* Use the lightish color */
  border: none; /* Remove border */
  margin-bottom: 20px; /* Add margin as needed */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8); /* Add box shadow */
  z-index: 1; /* Ensure the card stays above the pseudo-element */
  position: relative; /* Position the card relative to the pseudo-element */
}
.header-bosses h1 {
  font-family: 'Yomogi', sans-serif;
  color: #B9A7C8;
}
