.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px; /* Adjust the height of your footer as needed */
  background-color: #ffffff; /* Adjust background color as needed */
  color: purple; /* Adjust text color as needed */
  padding: 20px 0; /* Adjust padding as needed */
  z-index: 1000; /* Ensure the footer appears above other content */
}

// .card {
//   padding-bottom: 70px; /* Adjust the padding-bottom to accommodate the footer height */
// }

.footer a {
  color: purple; /* Adjust link color as needed */
}
