.footer {
  width: 100%;
  background-color: #ffffff;
  color: purple;
  padding: 70px;
  bottom: 0;
}

.footer-content {
  position: relative;
  z-index: 1001;
}

.footer a {
  font-family: Martel, sans-serif;
  color: purple;
  text-decoration: none;
  font-size: 1.5em;
}

.footer h2,
.footer h5,
.footer p {
  font-family: Martel, sans-serif;
  color: purple;
}
