<!-- app/views/bosses/index.html.erb -->
<!-- app/views/bosses/index.html.erb -->

<h1>Bosses Nemesis</h1>

<table>
  <tbody>
    <% @bosses.each do |boss| %>
      <tr>
        <td><%= boss.name %></td>
        <td>
          <%= boss_check_link(boss) %>
          <%= boss_found_link(boss) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
