<body class="background-eighty-opacity">
  <div class="header col-sm">
    <h1>BOSSES NEMESIS</h1>
  </div>

  <div class="container">
    <div class="row">
      <% @bosses.sort_by(&:name).each do |boss| %>
        <div class="col-sm-4 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="card-content">
                <% if boss.image.attached? %>
                  <div class="boss-image-container">
                    <%= image_tag boss.image, class: "boss-image" %>
                  </div>
                <% end %>
                <div class="text-content">
                  <h5 class="card-title"><%= boss.name %></h5>
                  <p class="card-text">Window: <%= boss.window %></p>
                  <p class="card-text">Spawn: <%= boss.local %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
